/*root styles*/

:root {
  --body-bg: #ffffff;
  --body-color: #0c0c0c;
  --todo-bg: #ededed;
  --newtask-bg: transparent;
  --green: #547340;
  --black: #0c0c0c;
  --grey: #373737;
  --bgbtn-bg: white;
  --bgbtn-color: #0c0c0c;
}

.dark_mode {
  --body-bg: #0c0c0c;
  --body-color: #ffffff;
  --todo-bg: #212121;
  --newtask-bg: #212121;
  --add-bg: #373737;
  --green: #a2c98a;
  --grey: #212121;
  --bgbtn-bg: #373737;
  --bgbtn-color: white;
}

/* 
green_dark: "#547340",
green_light: "#a2c98a",
white: "#ffffff",
offWhite: " #ededed",
black: "#0c0c0c",
darkGrey: "#212121",
grey: "#373737", */

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  list-style: none;
}

html {
  font-size: 20px;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

input[type="text"] {
  color: inherit;
  border: 0.30px solid rgba(128, 128, 128, 0.8);
  outline: none;
  background-color: transparent;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
}

/* Basic Style */
body {
  font-family: "Lato", sans-serif;
  height: 70vh;
  transition: 0.15s ease-out;
  background-color: white;
  color: var(--body-color);
}

.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#new-task {
  font-size: 1.5rem;
  background-color: #c1f2d1c2;
}

.todo-container {
  max-width: 650px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--todo-bg);
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border: 1px solid #373737;
}

.add-todo {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(rgba(160, 231, 160, 0.668),rgba(175, 226, 175, 0.756));
  align-items: center;
  gap: 8px;
  padding: 1rem;
  border-radius: 10px 10px 0 0px;
}
.add-todo input {
  flex-grow: 1;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
}

.add-todo input::placeholder {
  color: rgba(128, 128, 128, 0.8);
  font-weight: 500;
  caret-color: rgba(128, 128, 128, 0.8);
}

.bg-button {
  background-color: var(--bgbtn-bg);
  color: var(--bgbtn-color);
}

.btn-add {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: rgb(82, 129, 51);
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}

.btn-add:hover {
  transform: translate(0px, -2px);
  background-color: #668752d9;
}

.completed-tasks-container,
.incomplete-tasks-container {
  font-size: 1.2rem;
  background-image: linear-gradient(rgba(160, 231, 160, 0.668),rgba(175, 226, 175, 0.756));
  border-radius: 5px;
  height: 200px;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  overflow-y: auto;
}
.incomplete-tasks-container{
  border: 3px solid green;
}
.completed-tasks-container{
  border: 3px solid green;
}

.title {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--green);
  text-align: center;
}

.incomplete-task,
.completed-task {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 16px 0;
}

.completed-task label {
  text-decoration: line-through;
  /* color: #a7a7a7; */
}

.label-container {
  flex-grow: 1;
  word-break: break-all;
  margin: 0 16px 0 0;

}

.action-container {
  display: flex;
  gap: 8px;
}

.btn-edit,
.btn-delete {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid white;
  transition: transform 0.1s ease-out;
  cursor: pointer;
  background-color: var();
}

.btn-delete:hover {
  transform: scale(1.1);
}

.btn-edit:hover {
  transform: scale(1.1);
}

/* Edit Task */
ul li input[type="text"] {
  display: none;
}

ul li.editMode input[type="text"] {
  display: block;
  margin: 0 16px 0 0;
  box-shadow: none;
}

ul li.editMode label {
  display: none;
  border: 0px solid;
}

/* Dark/Light mode toggler css starts here */

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  cursor: pointer;
  width: 44px;
  height: 17px;
  background-color: #515151;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
  margin-right: 1.2em;
}

.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 3px;
  left: 5px;
  border-radius: 50%;
  transition: transform 0.2s ease-out;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.bi-brightness-high-fill::before {
  margin: 27px;
  color: yellow;
}

.dark-mode-slider {
  padding-bottom: 2em;
  display: flex;
  justify-content: end;
  max-width: 900px;
  width: 100%;
  margin-inline: auto;
}

/* Dark/Light mode toggler css ends here */

@media only screen and (max-width: 900px) {
  html {
    font-size: 12px;
  }

  .todo-container {
    width: 100%;
  }

  .wrapper {
    margin: 16px;
  }
}

/* fixed the todo count dissapearing issue */
.incompleted_container,
.completed_container {
  overflow-y: scroll;
  max-height: 150px;
}

.incomplete-task,
.completed-task {
  display: flex;
  flex-direction: row;
  margin-right: 5px;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
  
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.completed-task{
  opacity: 40%;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
  background-color: #547340;
}

#waves{
  rotate: 180deg;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
}