/*root styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  list-style: none;
}

i {
  font-size: 60px;
  cursor: pointer;
  position: absolute;
  top: 6%;
  left: 50vw;
  transform: translate(-50%, -50%);
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

input[type="text"] {
  border: 0.25px solid rgba(128, 128, 128, 0.8);
  outline: none;
  background-color: transparent;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
}

/* Basic Style */
body {
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(0, 0, 0);
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  padding-block: 5rem;
}

#new-task {
  font-size: 40px;
}

.todo-container {
  width: 100%;
  max-width: 900px;
  max-height: 300px;
  height: 500px;
  margin-inline: auto;
  background-color: rgb(250, 249, 249);
  border-radius: 10px;
}

.add-todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 1rem;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.add-todo input::placeholder {
  color: rgba(128, 128, 128, 0.8);
  font-weight: 700;
  caret-color: rgba(128, 128, 128, 0.8);
}

.btn-add {
  /* padding-block: 0.5rem;
  padding-inline: 1rem; */
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: rgb(84, 115, 64);
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 40px;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
  box-shadow: 0 0 4px 0 rgba(84, 115, 64, 0.8);
}

.btn-add:hover {
  box-shadow: 0 0 7px 3px #444;
}

.completed-tasks-container,
.incomplete-tasks-container {
  scroll-behavior: smooth;
  max-height: 300px;
  overflow-y: scroll;
  padding: 1rem;
  box-shadow: 0 3px 5px #333;
  font-size: 40px;
}

.incomplete-tasks-container {
  border-bottom: 1px solid rgb(0, 0, 0);
  box-shadow: 0 3px 5px #333;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: rgb(84, 115, 64);
  text-align: center;
}

#incomplete-tasks,
#completed-tasks {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.incomplete-task,
.completed-task {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.completed-task label {
  text-decoration: line-through;
  color: rgba(128, 128, 128, 0.8);
}

.btn-edit {
  margin-left: auto;
}

.btn-edit,
.btn-delete {
  background-color: white;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  transition: 0.3s;
  transform: scale(1);
  cursor: pointer;
}
.btn-delete:hover {
  transition: 0.3s;
  transform: scale(1.1);
}
.btn-edit:hover {
  transition: 0.3s;
  transform: scale(1.1);
}

/* Edit Task */
ul li input[type="text"] {
  display: none;
}

ul li.editMode input[type="text"] {
  display: block;
  box-shadow: 0 3px 4px #444;
}

ul li.editMode label {
  display: none;
}


/* Dark/Light mode toggler css starts here */

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  width: 44px;
  height: 17px;
  background-color: #515151;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1.5);
  margin-right: 1.2em;
}

.ball {
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  top: 3px;
  left: 5px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.checkbox:checked+.label .ball {
  transform: translateX(24px);
}

.bi-brightness-high-fill::before {
  margin: 27px;
  color: yellow;
}

.dark-mode-slider {
  padding-bottom: 2em;
  display: flex;
  justify-content: end;
  max-width: 900px;
  width: 100%;
  margin-inline: auto;
}

/* Dark/Light mode toggler css ends here */


@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
  
  #new-task {
    font-size: 20px;
  }
  .btn-add {
    font-size: 20px;
  }
}

.label-container {
  word-break: break-all;
}
