/* Basic Style */
body {
    background-image: url(https://github.com/w3ssfs/ToDo_List/blob/main/assets/image/image.jpg?raw=true);
    color: rgb(0, 0, 0);
    font-family: Lato, sans-serif;
  }
  .container {
    display: block;
    width: 400px;
    margin: 100px auto 0;
    background-color: rgb(250, 249, 249);
    border-radius: 0px;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li * {
    float: left;
  }
  li, h3 {
    clear:both;
    list-style:none;
  }
  input, button {
    outline: none;
  }
  button {
    background:wheat;
    border: 3px blueviolet solid;
    color: rgb(0, 0, 0);
    font-size: 15px;
    width: 60px;
    margin: 10px 10px 0;
    font-family: Lato, sans-serif;
    cursor: pointer;
  }
  button:hover {
    color: rgb(0, 0, 0);
    background: greenyellow;
  }
  /* Heading */
  h3,
  label[for='new-task'] {
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 15px;
    border-bottom: 3px solid #333;
    padding: 8px 140px 10px;
    margin: 0;
    text-transform: uppercase;
  }
  input[type="text"] {
    margin: 12;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 10px;
    border: 2px solid #ddd;
    background:seashell;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: rgb(0, 0, 0);
  }
  input[type="text"]:focus {
    color: rgb(0, 0, 0);
    background:white;
  }
  
  /* New Task */
  label[for='new-task'] {
    display: block;
    margin: 0 0 20px;
  }
  input#new-task {
    float: center;
    width: 318px;
  }
  p > button:hover {
    color: #0FC57C;

  }
  
  /* Task list */
  li {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid rgb(0, 0, 0);
  }
  li > input[type="checkbox"] {
    margin: 0 10px;
    position: relative;
    top: 15px;
  }
  li > label {
    font-size: 18px;
    line-height: 40px;
    width: 237px;
    padding: 0 0 0 11px;
  }
  li >  input[type="text"] {
    width: 226px;
  }
  li > .delete:hover {
    color:#0FC57C;
  }
  
  /* Completed */
  #completed-tasks label {
    text-decoration: line-through;
    color: rgb(0, 0, 0);
  }
  
  /* Edit Task */
  ul li input[type=text] {
    display:none;
  }
  
  ul li.editMode input[type=text] {
    display:block;
  }
  
  ul li.editMode label {
    display:none;
  }